@import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap');

#skill { 
    list-style: none;
    font-size: 15px;
    font-family: 'Shadows Into Light', cursive;
	width: 450px;
	margin: 50px auto 0;
	position: relative;
	line-height: 2em;
	padding: 30px 0;
}
 
#skill li { 
	margin-bottom:45px; 
	background:#e9e5e2;  
	height:20px; 
    border-radius:10px; 
}
 
#skill li h3 { 
	position:relative; 
	top:-30px;
}

.progress_list__skills{
	font-family: 'Amatic SC', cursive;
}
 
.bar { 
	height:18px; 
	margin:1px 2px;  
	position:absolute;
    border-radius:8px;
}
 
.html {
	width:100%; 
	background-color: #4bacd3;
}
 
.css {
	width:90%;
	background-color: #4bacd3;
}
 
.js {
	width:100%;
	background-color: #4bacd3;
}
 
.bootstrap {
	width:80%;
	background-color: #4bacd3;	
}

.git{
	width:80%;
	background-color: #4bacd3;	
}

.hablididades{
	width:100%;
	background-color: #4bacd3;	
}

.node{
	width:80%;
	background-color: #4bacd3;	
}

.mysql{
	width:80%;
	background-color: #4bacd3;	
}

.react{
	width:75%;
	background-color: #4bacd3;	
}

.php{
	width:80%;
	background-color: #4bacd3;	
}